@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');


body{
  background-color: grey;
  font-family: 'Josefin Sans', sans-serif;

}


#nombreItems{
  font-size: 30px;
  color: black;
}
#card{
  display: flex;
  align-items: center;
}

#unidad{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

#price{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
}
.MuiSvgIcon-root{
  font-size: 60px !important;
  color: rgb(90, 19, 253);
}